* {
margin: 0;
padding: 0;
font-size: 12px;
font-family: Arial;
}
#container {
    position: absolute;
    top: 50px;
    left: 300px;
    border: 10px;
    border-color: black;
    border-radius: 15px;
       outline: none;
    
}
aside, footer, header, hgroup, nav {
display: block;
}

body {
    		background-image: url('images.jfif');
            	 background-size: cover;
             	background-repeat: no-repeat;
		color: #776E65;
		padding: 10px;
}
header {
height: 20px;
background-repeat: no-repeat;
margin-top: 10px;
}
#headerText {
position: absolute;
top: 0px;
width: 100%;
color: blue;
}
h1 {
font-size: 24px;
}
div[role="main"] {
float: left;
width: 60%;
}
#editContact {
background: pink;
border: 1px solid #E1E1E1;
width: 600px;
margin-top: 15px;

}
#editContact h2 {
padding-left: 5px;
margin-top: 5px;
font-size: 18px;
width: 200px;
}


#editContact div {
        width: 600px;
        padding: 10px;
        margin: 25px;

    
}

#editContact div.buttons {
        text-align: center;
     
        
}



#editContact label {
width: 170px;
height: 15px;
vertical-align: bottom;
display: block;
float:left;
font-size: 15px;
}
#editContact input {
width: 250px;
height: 15px;
padding: 2px;
}

button {
width: 250px;
height:25px;
margin-top: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 15px;
color: blue;
}
#contacts {
    width: 600px;
    border: 1px solid #E1E1E1;
    background: pink;
 
}
#contacts thead {
background-color: #e1e1e1;
color: #7C756D;
font-weight: bold;
text-align: left;
}
#contacts tbody tr:nth-child(even) {
background-color: #eee;
}
#contacts th {
border-color: #7C756D;
border-style: none none solid;
border-width: 0 0 1px;
}
#contacts th, #contacts td {
margin: 0px;
padding: 5px 10px;
}